package views


import (
	"project-stormlight/internal/models"
    "strconv"
	"project-stormlight/internal/character"
)

templ CharacterSheet(characterSheet models.CharacterSheetData) {
	
    @Layout("Character Sheet: " + characterSheet.Char.Name, true) {
		<div 
		hx-trigger="load"
		hx-ext="ws" 
		ws-connect={ "/playspace/" + strconv.Itoa(characterSheet.Char.ID) + "/ws" }
		hx-target="#notifications"
		> 
			<div class="container mx-auto p-4 max-w-6xl" id="playspace-root" data-char-id={ strconv.Itoa(characterSheet.Char.ID) }>
				<div class="flex justify-between items-center mb-6">
					<h1 class="text-4xl font-bold text-primary">{ characterSheet.Char.Name }</h1>
					<div class="badge badge-lg badge-accent">Level { strconv.Itoa(characterSheet.Char.Level) } { string(characterSheet.Char.Ancestry) }</div>
				</div>
				<div id="eventModal" hx-swap-oob="true">
					@EventModal("", nil)
				</div>

				<!-- Playspace Navigation Tabs -->
				<div class="tabs tabs-boxed mb-6 justify-center">
					<a href={ templ.SafeURL("/playspace/" + strconv.Itoa(characterSheet.Char.ID)) } class="tab tab-active">Character Sheet</a>
					<a href={ templ.SafeURL("/playspace/" + strconv.Itoa(characterSheet.Char.ID) + "/store") } class="tab">Store</a>
				</div>
				<!-- Character Sheet Content -->
			<div class="tabs tabs-lift tabs-bottom mb-6 justify-center">
					
					//Overview Tab
					<input type="radio" name="my_tabs_5" class="tab" aria-label="Overview" checked="checked"/>
					<div class="tab-content bg-base-100 border-base-300 p-6">
						<div id="basicsComponent" hx-swap-oob="true">
							@BasicsComponent(characterSheet)
						</div>
					</div>

					//Skills Tab
					<input type="radio" name="my_tabs_5" class="tab" aria-label="Skills" />
					<div class="tab-content bg-base-100 border-base-300 p-6">
						<div id="skillsComponent" hx-swap-oob="true">
							@SkillsComponent(characterSheet)
						</div>
					</div>

					//Talents & Expertises Tab
					<input type="radio" name="my_tabs_5" class="tab" aria-label="Talents & Expertises" />
					<div class="tab-content bg-base-100 border-base-300 p-6">
						@TalentsComponent(characterSheet)
					</div>

					<input type="radio" name="my_tabs_5" class="tab" aria-label="Equipment" />
					<div class="tab-content bg-base-100 border-base-300 p-6">
						<div id="equipmentComponent" hx-swap-oob="true">
							@EquipmentComponent(characterSheet)
						</div>
					</div>

					<input type="radio" name="my_tabs_5" class="tab" aria-label="Derived Stats" />
					<div class="tab-content bg-base-100 border-base-300 p-6">
						<div id="derivedAttributesComponent" hx-swap-oob="true">
							@DerivedAttributesComponent(characterSheet)
						</div>
					</div>

					<input type="radio" name="my_tabs_5" class="tab" aria-label="Notes" />
					<div class="tab-content bg-base-100 border-base-300 p-6">
						@NotesComponent(characterSheet.Char.SessionNotes, characterSheet.Char.ID)
					</div>

					if characterSheet.PetResources != nil {
						<input type="radio" name="my_tabs_5" class="tab" aria-label={ characterSheet.PetResources.PetName }/>
						<div class="tab-content bg-base-100 border-base-300 p-6">
							@PetStatusComponent(characterSheet.Char.ID, *characterSheet.PetResources)
						</div>
					}
				</div>
			</div>
		</div>
    }
}


templ BasicsComponent(characterSheet models.CharacterSheetData) {
	<div class="grid grid-cols-3 md:grid-cols-3 gap-4">
		@ResourcesComponent(characterSheet.Char.ID, *characterSheet.Char.Resources)
		@DefensesComponent(characterSheet.DefensesMap)
		@AttributesComponent(characterSheet.AttributesMap)
	</div>
}


templ ResourcesComponent(characterId int, resources character.Resources ) {
	<div class="card bg-base-200 shadow border-t-4 border-primary">
		@ValueJoinCard(resources.HealthCurrent, resources.HealthMax, "Health", "/characters/" + strconv.Itoa(characterId) + "/resources/health")
		@ValueJoinCard(resources.FocusCurrent, resources.FocusMax, "Focus", "/characters/" + strconv.Itoa(characterId) + "/resources/focus")
		if resources.InvestitureActive {
			@ValueJoinCard(resources.InvestitureCurrent, resources.InvestitureMax, "Investiture", "/characters/" + strconv.Itoa(characterId) + "/resources/investiture")
		} else {
			@UninvestedPlaceholder()
		}
	</div>
}

	
templ DefensesComponent(defensesMap map[string]int) {
	<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
		for defense, value := range defensesMap {
			<div class="card bg-base-200 shadow border-t-4 border-primary">
				<div class="card-body p-4 text-center">
					<span class="text-xs uppercase font-extrabold text-primary">{ defense }</span>
					<span class="text-3xl font-extrabold text-base-content">{ strconv.Itoa(value) }</span>
				</div>
			</div>
		}
	</div>
}

templ AttributesComponent(attributesMap map[string]int) {
	<div class="grid grid-cols-6 gap-4 md:grid-cols-3">
		for attr, value := range attributesMap {
		<div class="card-body">
			<h3 class="font-bold text-md mb-3 opacity-80 uppercase tracking-wider">Attributes</h3>
			<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
				<div class="stat">
					<div class="stat-title">{ attr }</div>
					<div class="stat-value">{ strconv.Itoa(value) }</div>
				</div>
			</div>
		</div>
	}
	</div>
}

templ UninvestedPlaceholder() {
	<div class="card w-full bg-base-200 shadow-xl mb-6 border-2 border-primary">
		<div class="card-body p-4 text-center">
			<h2 class="card-title m-0 inline-block">Uninvested</h2>
			<p class="text-sm mt-2">Seek out friendship with the spren.</p>
		</div>
	</div>
}


/*
Radial progress needs --value CSS variable to work.
To change the size, use --size CSS variable which has a default value of 5rem.
To change the thickness, use --thickness CSS variable which is 10% of the size by default.

For Radial progress we need to use a div instead of the progress tag because browsers can't show text inside progress tag, and Firefox doesn’t render pseudo-elements inside progress tag at all.
Adding role="progressbar" makes it accessible to screen readers as well.
*/
templ ValueJoinCard(current int, max int, label string, endpoint string) {
    <div id={ "card-" + label } class="card card-border bg-base-100 w-96">
        <div class="card-body" width="100%">
            <h2 class="card-title">{ label }</h2>
            <div class="join" width="100%">
                <button class="btn join-item"
                        hx-post={ endpoint + "/decrement" }
                        hx-target={ "#card-" + label }
                        hx-swap="outerHTML">-</button>
				<div class="card bg-base-200 shadow border-t-4 border-primary" style="width: 100%;">
					<div
						class="radial-progress text-primary-content border-primary border-4 join-item"
						style={ "--value:" + strconv.Itoa(max) + ";" }
						aria-valuenow={ strconv.Itoa(current) } 
						aria-valuemax={ strconv.Itoa(max) } 
						role="progressbar">
						{ strconv.Itoa(current) } / { strconv.Itoa(max) }
					</div>
				</div>
                <button class="btn join-item"
                        hx-post={ endpoint + "/increment" }
                        hx-target={ "#card-" + label }
                        hx-swap="outerHTML">+</button>
            </div>
        </div>
    </div>
}

templ SkillsComponent(characterSheet models.CharacterSheetData) {
	<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
		for _, spread := range characterSheet.SkillsDisplayStructure {
			<div class="card bg-base-200 shadow border-t-4 border-primary">
				<div class="card-body p-4 text-center">
					<span class="text-xs uppercase font-extrabold text-primary">{ spread.SpreadName }</span>
					@SkillComponentSection(spread)
				</div>
			</div>
	}
	</div>
}

templ SkillComponentSection(spread character.SkillDisplayStructure) {
	<div>
		for _, skill := range spread.Skills {
			<div class="card bg-base-200 shadow border-t-4 border-primary">
				<div class="card-body p-4 text-center">
					<span class="text-xs uppercase font-extrabold text-primary">{ skill.SkillName }</span>
					<span class="text-3xl font-extrabold text-base-content">{ strconv.Itoa(skill.Total) }</span>
					<span class="text-sm text-secondary">({ strconv.Itoa(skill.AttributeBonus) } + { strconv.Itoa(skill.Bonus) })</span>
					<span class="text-xs uppercase font-extrabold text-primary">{ skill.AttributeName }</span>
				</div>
			</div>
		}
	</div>
}

templ TalentsComponent(characterSheet models.CharacterSheetData) {
	<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
		if characterSheet.ActionTypeMap != nil && len(characterSheet.ActionTypeMap) > 0 {
			for _, actionType := range characterSheet.ActionTypeMap {
				<div class="card bg-base-200 shadow border-t-4 border-primary">
					<div class="card-body p-4 text-center">
						<span class="text-xs uppercase font-extrabold text-primary">{ actionType.Category }</span>
						if actionType.Category == "Stance" {
							@StanceCard(actionType.Talents)
						} else {
							for _, talent := range actionType.Talents {
								@TalentRadioAccordian(talent)
							}
						}
					</div>
				</div>
			}
		} else {
			<div class="card bg-base-200 shadow border-t-4 border-primary">
				<div class="card-body p-4 text-center">
					<span class="text-xs uppercase font-extrabold text-primary">No Talents or Expertises</span>
					<span class="text-sm text-secondary">This character has no talents or expertises.</span>
				</div>
			</div>
		}
	</div>
}

templ TalentRadioAccordian(talent character.TalentHistory) {
	for _, actionType := range []string{"Special", "Action", "Passive", "Reaction", "Free"} {
		if talent.ActionType == actionType {
			<div class="collapse bg-base-100 border border-base-300">
				<input type="radio" name="my-accordion-1" checked="checked" />
				<div class="collapse-title font-semibold">
					<span>{ talent.Name }</span> <span>cost: { strconv.Itoa(talent.ActionCost) }</span>  
				</div>
				<div class="collapse-content text-sm">@TalentCard(talent)</div>
			</div>
		}
	}
}

templ TalentCard(talent character.TalentHistory) {
	<div class="card bg-base-200 shadow border-t-4 border-primary">
		if talent.AttackDefinition != nil {
			if talent.AttackDefinition.BaseDamage != "" {
				<span class="text-sm">Base Damage: { talent.AttackDefinition.BaseDamage }</span>
			}
			if talent.AttackDefinition.DamageType != "" {
				<span class="text-sm">Damage Type: { talent.AttackDefinition.DamageType }</span>
			}
			if talent.AttackDefinition.DamageScaling != nil && len(talent.AttackDefinition.DamageScaling) > 0 {
				for _, damageScaling := range talent.AttackDefinition.DamageScaling {
					<span class="text-sm">Damage Scaling: { damageScaling.Damage } - { damageScaling.Tier }</span>
				}
			}
			<span class="text-sm">Range: { talent.AttackDefinition.Range }</span>
			<span class="text-sm">Target Defense: { talent.AttackDefinition.TargetDefense }</span>
			<span class="text-sm">Weapon Type: { talent.AttackDefinition.WeaponType }</span>
			for _, conditionalAdvantage := range talent.AttackDefinition.ConditionalAdvantages {
				<span class="text-sm">Conditional Advantage: { conditionalAdvantage.Condition } - { conditionalAdvantage.Value }</span>
			}
			<span class="text-sm">Resource Cost Type:		
			{talent.AttackDefinition.ResourceCost.Type} - {talent.AttackDefinition.ResourceCost.Amount}</span>
			for _, mechanic := range talent.AttackDefinition.SpecialMechanics {
				<span class="text-sm">Special Mechanic: { mechanic }</span>
			}
		}
		if talent.SpecialActivation != "" {
			<span class="text-sm">Special Activation: { talent.SpecialActivation }</span>
		} else {
			<span class="text-sm">{ talent.Description }</span>
		}
	</div>
}

templ StanceCard(stance []character.TalentHistory) {
	<div class="card bg-base-200 shadow border-t-4 border-primary">
		<div class="card-body p-4 text-center">
			<fieldset class="fieldset">
				<legend class="fieldset-legend">Stances</legend>
				<form
					hx-post={ "/playspace/toggle-active-stance" }
					hx-target="#stanceComponent"
					hx-swap="innerHTML"
					hx-trigger="change">
					<input type="hidden" name="id" value={ strconv.Itoa(stance[0].CharacterID) } />
					<select class="select" name="activeStance">
					for _, s := range stance {
						<option value={ s.TalentID }>{ s.Name }</option>
					}
				</select>
				</form>
			</fieldset>
					<div id="stanceComponent">
						<div class="card bg-base-200 shadow border-t-4 border-primary">
							<div class="card-body p-4 text-center">
								<span class="text-sm">Active Stance: { stance[0].Name }</span>
								<span class="text-sm">{ stance[0].Description }</span>
								<span class="text-sm">Cost: { strconv.Itoa(stance[0].ActionCost) }</span>
							</div>
						</div>
					</div>
				</div>
			</div>
}

templ ActiveStanceCard(stance character.TalentHistory) {
	<div class="card bg-base-200 shadow border-t-4 border-primary">
		<div class="card-body p-4 text-center">
			<span class="text-sm">Active Stance: { stance.Name }</span>
			<span class="text-sm">{ stance.Description }</span>
			<span class="text-sm">Cost: { strconv.Itoa(stance.ActionCost) }</span>
		</div>
	</div>
}

templ EquipmentComponent(characterSheet models.CharacterSheetData) {
	<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
		for _, item := range *characterSheet.Char.Inventory {
			<div class="card bg-base-200 shadow border-t-4 border-primary">
				<div class="card-body p-4 text-center">
					<span class="text-xs uppercase font-extrabold text-primary">{ item.Name }</span>
					<form
						hx-post={ "/playspace/toggle-equipped" }
						hx-target="#equipmentComponent"
						hx-swap="outerHTML"
					>
						<input type="hidden" name="itemID" value={ strconv.Itoa(item.ID) } />
						<input type="hidden" name="characterID" value={ strconv.Itoa(characterSheet.Char.ID) } />
						<input type="hidden" name="equipped" value={ strconv.FormatBool(item.Equipped) } />
						<button class="btn btn-primary btn-sm mt-2"type="submit">
							Toggle Equipped
						</button>
					</form>
					<span class="text-sm text-secondary">{ item.Equipped }</span>
				</div>
			</div>
	}
	</div>
}

templ DerivedAttributesComponent(characterSheet models.CharacterSheetData) {
	<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
		for attr, value := range characterSheet.DerivedAttributes {
			<div class="card bg-base-200 shadow border-t-4 border-primary">
				<div class="card-body p-4 text-center">
					<span class="text-xs uppercase font-extrabold text-primary">{ attr }</span>
					<span class="text-3xl font-extrabold text-base-content">{ value }</span>
				</div>
			</div>
	}
	</div>
}

templ NotesComponent(notes string, characterID int) {
	<div id="notes-card" class="card bg-base-200 shadow border-t-4 border-primary">
		<textarea name="notes" placeholder="Session Notes" class="textarea textarea-xl"
			hx-post={ "/characters/" + strconv.Itoa(characterID) + "/session-notes" }
			hx-target="#notes-card"
			hx-trigger="keyup changed delay:1s"
			hx-swap="none">
			{ notes }
		</textarea>
	</div>
}

templ EventModal(message string, button templ.Component) {
	if message != "" {
		<div class="notification-item">
			{ message } 
			if button != nil {
				@button 
			}
		</div>
	}
}

templ HREFButton(label string, href string) {
	<a href={ templ.SafeURL(href) } class="btn btn-primary">{ label }</a>
}

templ CombatPaceSelector(characterID int) {
	<dialog id="combat-pace-selector" class="modal">
        <div class="modal-box relative max-w-2xl">
			<div class="flex justify-center space-x-4">
				<button class="btn btn-primary" 
					hx-post={ "/characters/" + strconv.Itoa(characterID) + "/combat/pace/slow" }
					hx-target="#combat-pace-selector"
					hx-swap="outerHTML">Slow</button>
				<button class="btn btn-primary" 
					hx-post={ "/characters/" + strconv.Itoa(characterID) + "/combat/pace/fast" }
					hx-target="#combat-pace-selector"
					hx-swap="outerHTML">Fast</button>
			</div>
		</div>
	</dialog>
}

templ TwoPostButtonsWithParams(label1 string, endpoint1 string, label2 string, endpoint2 string, target string, params map[string]string) {
	<div class="flex justify-center space-x-4">
		<button class="btn btn-primary" 
			hx-post={ endpoint1 }
			hx-vals={ templ.JSONString(params) }
			hx-target={ target }
			hx-swap="outerHTML">
			{ label1 }
		</button>
		<button class="btn btn-primary" 
			hx-post={ endpoint2 }
			hx-vals={ templ.JSONString(params) }
			hx-target={ target }
			hx-swap="outerHTML">
			{ label2 }
		</button>
	</div>
}

templ POSTButtonWithParams(label string, endpoint string, target string, params map[string]string) {
	<button class="btn btn-primary" 
		hx-post={ endpoint }
		hx-vals={ templ.JSONString(params) }
		hx-target={ target }
		hx-swap="outerHTML">
		{ label }
	</button>
}

templ POSTButton(label string, endpoint string, target string) {
	<button class="btn btn-primary"
		hx-post={ endpoint }
		hx-target={ target }
		hx-swap="outerHTML">
		{ label }
	</button>
}

templ ModalCloseButton(label string) {
	<button class="btn btn-primary">
		{ label }
	</button>
}